<li>
  <span class="department"><%= post.department %></span>
  <span class="professor"><%= post.professor %></span>
  <span class="course"><%= post.course %></span>
  <span class="difficulty"><%= post.difficulty %></span>
  <span class="title"><%= post.title%></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= post.created_at %>
  </span>
</li>