<% provide(:title, 'Post') %>

<h3>Post</h3>

<div class="post">  
	Department: <%=@post.department %><br/></span>
	Professor: <%= @post.professor %><br/></span>
	Course: <%= @post.course %><br/></span>
	Difficulty: <%= @post.difficulty %><br/></span>
	Accessibility: <%= @post.accessibility %><br/></span>
	Lecture Quality: <%= @post.lecturequality %><br/></span>
	Comment: <%= simple_format word_wrap(@post.content)%><br/></span>
	Posted: <%= @post.created_at %>
</div>  
<p>  
	<%= link_to "Delete", @post, method: :delete, data: { confirm: "You sure?"}%>
	<%= link_to "Edit", '#' %>  
	<%= link_to "Back to posts", posts_path %>  
</p>  


